<p id="notice"><%= notice %></p>

<h1>Listing Characteristics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characteristics.each do |characteristic| %>
      <tr>
        <td><%= characteristic.name %></td>
        <td><%= characteristic.product %></td>
        <td><%= link_to 'Show', characteristic %></td>
        <td><%= link_to 'Edit', edit_characteristic_path(characteristic) %></td>
        <td><%= link_to 'Destroy', characteristic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Characteristic', new_characteristic_path %>
