<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>


  <%= f.fields_for :characteristics do |c| %>
    <fieldset>
      <%= c.label :name, "Caracteristica" %>
      <%= c.text_field :name %>
      <%= c.check_box :_destroy %>
      <%= c.label :_destroy, "Descartar" %>

      <%= c.fields_for :levels do |l| %>
        <fieldset>
          <%= l.label :name, "Nivel" %>
          <%= l.text_field :name %>
          <%= l.hidden_field :_destroy %>
          <%= link_to "Eliminar", '#', class: "remove_fields" %>
        </fieldset>
      <% end %>
    </fieldset>
  <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
