<p id="notice"><%= notice %></p>

<h1>Producto</h1>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<h2>Atributos</h2>

<% if @product.characteristics.any? %>
  <ul>
    <% @product.characteristics.each do |c| %>
    <li>
      <%= c.name %> :
      <% c.levels.each do |l| %>
        <%= l.name %>,
      <% end %>
    </li>

    <% end %>
  </ul>
  <% else %>
  <p>Aun no se han creado atributos para este producto</p>
<% end %>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
